* {
  border: solid 1px red;
}

body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid 4px darkgray;
  border-radius: 8px;
  margin: 5vh 15vw;
}

.title {
  text-align: center;
  font-size: xx-large;
  line-height: 1.5;
  font-weight: 900;
  margin: 32px;
}

.weather-display {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 50px;
}

.weather-icon {
  height: fit-content;
}

.city-name,
.weather-main {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 0;
}

.country-name,
.weather-description {
  margin: 5px 0 0;
}

.weather-description {
  font-style: italic;
}

.temp-button {
  background-color: transparent;
  border: none;
  font-size: larger;
  margin-top: 16px;
}

.temp-button:hover {
  cursor: pointer;
  font-weight: 600;
}

.temp-f,
.temp-c:hover {
  color: salmon;
}

.temp-c,
.temp-f:hover {
  color: skyblue;
}

.description {
  text-align: center;
  line-height: 1.25;
  margin: 16px 32px;
}

.search-button {
  margin: 16px 0
}

.error-message {
  background-color: pink;
  color: black;
  border: solid 2px lightgray;
  border-radius: 4px;
  padding: 2.5px 5px;
  margin-top: 16px;
}

#loading-indicator {
  display: flex;
  margin-top: 32px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-image {
  animation-name: loading;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.loading-message {
  margin: 0 0 0 10px;
}

.credits-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  font-size: .85rem;
  gap: 16px;
  margin: 32px;
}

.credits {
  margin: 0;
}

a {
  color: darkgray;
  text-decoration: none;
}

.not-displayed {
  display: none !important;
}

@media (max-width: 500px) {
  .weather-display {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 400px) {
  #city{
    width: 80%;
  }
}